@font-face {
    font-family: 'pw_centra_no2bold';
    src: url('fonts/pwcentrano2-bold-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pw_centra_no2bold_italic';
    src: url('fonts/pwcentrano2-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pw_centra_no2book';
    src: url('fonts/pwcentrano2-book-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pw_centra_no2italic';
    src: url('fonts/pwcentrano2-bookitalic-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pw_serifbold';
    src: url('fonts/pwserif-bold-webfont.woff2') format('woff2'),
         url('fonts/pwserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    background-image: url(images/site_bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    font-family: 'pw_centra_no2book';
    background-color: rgba(255, 255, 255, .6);
    width: 60%;
    margin: 0 auto;
}

nav {
    /*width: 100%;*/
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

nav ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: center;
    background-color: #798985;
}

nav li {
    padding: 2em;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: rgba(40, 92, 77);
}

nav a:hover{
    font-family: 'pw_centra_no2bold';
}

.active-nav {
    color: white;
    font-family: 'pw_centra_no2bold';
}

h1, h2, h3, h4 {
    font-family: 'pw_centra_no2bold';
}

.content-holder {
    padding-top: 6em;
    width: 100%;
    margin: 0 auto;
}

.team-heading {
    padding: .5em 2em ;
    font-size: 1.5em;
}

.team-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    width: 33.3%;
    padding: .5em .5em 1em .5em;
}

.team-member h3 {
    font-size: 1.25em;
}

.team-member h3, h4 {
    text-align: center;
    padding: .25em;
}

.team-member p {
    padding: 1em 1em 0 1em;
    line-height: 1.3em;
}

.team-member img {
    border-radius: 50%;
    width: 65%;
    display: block;
    margin: 0 auto;
    padding: 1em;
}

.quote {
    text-align: center;
    font-size: 2.5em;
    padding: .5em 2em .5em 2em;
    font-family: 'pw_serifbold';
}

.quote-attribute{
    text-align: right;
    padding: 0 4em 1em 2em;
}

.process-p {
    padding: 1em 2em 1em 2em;
    line-height: 1.2em;
    font-size: 1.3em;
}

.bold {
    font-family: 'pw_centra_no2bold';
}

.miro-holder {
    margin: 0 auto;
    padding-bottom: 2em;
}

.miro-board {
    display: block;
    margin: 0 auto;
}