@font-face {
    font-family: 'pw_centra_no2bold';
    src: url('fonts/pwcentrano2-bold-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pw_centra_no2bold_italic';
    src: url('fonts/pwcentrano2-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pw_centra_no2book';
    src: url('fonts/pwcentrano2-book-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pw_centra_no2italic';
    src: url('fonts/pwcentrano2-bookitalic-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pw_serifbold';
    src: url('fonts/pwserif-bold-webfont.woff2') format('woff2'),
         url('fonts/pwserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



html {
    font-family: 'pw_centra_no2book';
    background-color: rgba(255, 255, 255, .6);
    margin: 0 auto;
}

body {
    width: 100%;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
}

.nav-menu {
    position: fixed;
    top: 5%;
    right: -1em;
    width: 5em;
    height: 4em;
    border-radius: 1em;
    background-color: #285c4d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
  
}

#menu-icon {
    color: #fff;
    font-size: 2em;
    width: 100%;
    text-align: center;   
    margin-left: -.05em;
}

.no-overflow {
    overflow: hidden;
}

#menu-icon:hover {
    color: #bde9c9;
    cursor: pointer;
}


.site-nav {
    height: 100vh;
    width: 100vw;;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 4em;
    background-color: rgba(40, 92, 77, 0.808);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
}

.nav-open  {
    visibility: visible;
    
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #bde9c9;
}

nav h2 {
    padding: .25em;
}


h1, h2, h3, h4 {
    font-family: 'pw_centra_no2bold';
}

.welcome {
    font-family: 'pw_serifbold';
    position: absolute;
    z-index: 3;
    font-size: 5em;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(5px 5px 4px #000);

}

.content-holder {
    width: 100%;
    margin: 0 auto;
    
}

.team-heading {
    width: 100%;
    margin-bottom: -1em;
}

.no-spaces {
    background-color: #bde9c9 ;
}

.quote {
    text-align: center;
    font-size: 3em;
    padding: 1em 4em .5em 4em;
    font-family: 'pw_serifbold';
    color: #285c4d;
}

.quote-attribute{
    text-align: right;
    padding: 0 16em 3em 2em;
    color: #285c4d;
}

.process-p {
    padding: 0 8em 2em 8em;
    line-height: 1.42em;
    font-size: 1.3em;
}

.bold {
    font-family: 'pw_centra_no2bold';
}

.miro-holder {
    margin: 0 auto;
    padding-bottom: 2em;
}

.miro-board {
    display: block;
    margin: 0 auto;
}





.showcase {
	height: 100vh;
    width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('images/longmeadowcircle.mp4') no-repeat center
		center/cover;
    z-index: -1;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}



.slider{
    width: 100vw;
    overflow: hidden;
    font-size: 0;
  }
  
  .slides{
    width: 300vw;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 100vw;
    transition: 2s;
    font-size: 0;
  }
  
  .slide img{
    height: auto;
    width: 100vw;
    font-size: 0;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #285c4d;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #285C4d;
  }
  
  #tony1:checked ~ .tonyfirst{
    margin-left: 0;
  }
  
  #tony2:checked ~ .tonyfirst{
    margin-left: -33.33333%;
  }
  
  #tony3:checked ~ .tonyfirst{
    margin-left: -66.66666%;
  }
  
  #tony {
    background-image: url(images/Main-Team.png);
    background-position-x: left;
    background-position-y: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

#eric {
    background-image: url(images/Main-Team2.png);
    background-position-x: left;
    background-position-y: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
      
#eric1:checked ~ .ericfirst{
    margin-left: 0;
  }
  
  #eric2:checked ~ .ericfirst{
    margin-left: -33.33333%;
  }
  
  #eric3:checked ~ .ericfirst{
    margin-left: -66.66666%;
  }
        
  #greg {
    background-image: url(images/Main-Team3.png);
    background-position-x: left;
    background-position-y: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
      
#greg1:checked ~ .gregfirst{
    margin-left: 0;
  }
  
  #greg2:checked ~ .gregfirst{
    margin-left: -33.33333%;
  }
  
  #greg3:checked ~ .gregfirst{
    margin-left: -66.66666%;
  }
        
  #anne {
    background-image: url(images/Main-Team4.png);
    background-position-x: left;
    background-position-y: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
      
#anne1:checked ~ .annefirst{
    margin-left: 0;
  }
  
  #anne2:checked ~ .annefirst{
    margin-left: -33.33333%;
  }
  
  #anne3:checked ~ .annefirst{
    margin-left: -66.66666%;
  }

  #doug {
    background-image: url(images/Main-Team5.png);
    background-position-x: left;
    background-position-y: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
      
#doug1:checked ~ .dougfirst{
    margin-left: 0;
  }
  
  #doug2:checked ~ .dougfirst{
    margin-left: -33.33333%;
  }
  
  #doug3:checked ~ .dougfirst{
    margin-left: -66.66666%;
  }
      