@font-face {
    font-family: 'pw_centra_no2bold';
    src: url('fonts/pwcentrano2-bold-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pw_centra_no2bold_italic';
    src: url('fonts/pwcentrano2-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pw_centra_no2book';
    src: url('fonts/pwcentrano2-book-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pw_centra_no2italic';
    src: url('fonts/pwcentrano2-bookitalic-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pw_serifbold';
    src: url('fonts/pwserif-bold-webfont.woff2') format('woff2'),
         url('fonts/pwserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



body {
    font-family: 'pw_centra_no2book';
}
